body {
    background: url("../images/back.jpg");
    background-color: #d60000;
    background-size: cover;
}

.label{
    margin-top: 1vh;
    background-color: #ffffff;
    width: 100vh;
    height: 100vh;

}

canvas {
    border: 5px solid white;
    background-color: #d60000;
    background: url("../images/Menu.png");
    background-size: cover;
    margin-top: 15vh;
      z-index: 0;    
}


.chat {
    margin: 5%;
    color: #ffffff;
    text-align: center;
    border: 1px solid white;
    background-color: #df5252;
    height: 100ph;
    
}
.chatbox {
    margin: 5%;
    text-align: left;
    border: 1px solid black;
    background-color: #f7e6e6;
    color: #000000;
    height: 50vh;
    overflow-y : scroll;
    
}

@font-face {
    font-family: "PokemonHollow";
    src: url("../fonts/Pokemon Hollow.ttf");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/Pokemon Solid.ttf");
}