canvas {
    border: 1px solid black;
    background-color: #d60000;
    background: url("../images/Menu.png");
    background-size: cover;
	margin-top: 1vh;
      z-index: 0;
      
}

.play-guide {
	margin: 5%;
}

@font-face {
    font-family: "ChineseTakeaway";
    src: url("../fonts/ChineseTakeaway.ttf");
}

@font-face {
    font-family: "RagingRedLotusBB";
    src: url("../fonts/RagingRedLotusBB.ttf");
}

@font-face {
    font-family: "PokemonHollow";
    src: url("../fonts/Pokemon Hollow.ttf");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/Pokemon Solid.ttf");
}